.reloadButton {
  width: 22px;
  height: 22px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--color-primary);
  border: none;
  border-radius: 11px;
}
.reloadButton:disabled {
  opacity: 0.5;
}

.reloadButton > img {
  display: block;
}
